[submodule "Reference/XamlMultiLanguageEditor"]
	path = Reference/XamlMultiLanguageEditor
	url = git@github.com:Dynesshely/XamlMultiLanguageEditor.git
[submodule "Cheese"]
	path = Cheese
	url = git@github.com:Crequency/Cheese.git
[submodule "KitX Loaders"]
	path = KitX Loaders
	url = git@github.com:Crequency/KitX-Loaders.git
[submodule "KitX Plugins"]
	path = KitX Plugins
	url = git@github.com:Crequency/KitX-Plugins.git
